---
// src/pages/index.astro
import { getRecords } from '../airtable.js';

const records = await getRecords('Roster');
---

<html>
  <head>
    <title>AirTable and Astro</title>
  </head>
  <body>
    <h1>Records from AirTable</h1>
    <ul>
      {records.map(record => (
        <li style={`background:${record.fields.color}`} key={record.id}>
          <blockquote>{record.fields.quote}</blockquote>
          
          <h1>{record.fields.name}</h1>

          {record.fields.pic && Array.isArray(record.fields.pic) && (
            <img src={record.fields.pic[0].thumbnails.large.url} alt={record.fields.name} />
          )}
          
          <p>This emoji best describes me: {record.fields.emoji}</p>
          <p>I'm weird because: {record.fields.weird}</p>
          <p>My superpower is: {record.fields.superpower}</p>
          <p>My karaoke jam is: {record.fields.karaoke}</p>
          
          <h2>Favorites</h2>
          <p>{record.fields.color}</p>
          <p>{record.fields.software}</p>
          <p>{record.fields.character}</p>
          <p>{record.fields.musicalArtist}</p>
          <p>{record.fields.comfortFood}</p>
        </li>
      ))}
    </ul>
  </body>
</html>
